.transplant {
    margin-top: 20px;
}

.transplant__title {
    margin-top: 0;
    font-size: 22px;
    line-height: 30px;
}

.MuiFormGroup-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column !important;
}